<html>
<head>
<meta charset="utf-8" />
<title>Googlebridge</title>
<style type="text/css">
        body{color:#BFFEE3;background:#FEFEFE;padding:0 5em;margin:0}
        h2{padding:2em 1em;background:#FFFFFF}
        h3{color:#0066CC;margin:1em 0}
        h4{color:#000000;margin:1em 0}
        p{color:#000000;margin:1em 0}
</style>
</head>
<body>
<div align="center">
<form action="." method="get">
<h3>GoogleBridge</h3> 
  <input name="q" type="text" size="50" value="{{keyword}}">
  <input type="hidden" name="start">
  <input type="submit" value="Search">
</form>
</div>
<div>
<ul>
{% for post in search_data %}
    <li>
     <h4><a target="_blank" href="{{post.sd_url}}">{% autoescape off %}{{post.sd_title}}{% endautoescape %}</h4>             
     <p class="url"><a>{% autoescape off %}{{post.sd_url}}{% endautoescape %}</p>
     <p>{% autoescape off %}{{post.sd_content}}{% endautoescape %}</p> 
    </li>
{% endfor %}
</ul>
</div>
<div align="center">
<h2>
  <a href="/search/?q={{keyword}}&start={{start1}}">{{page1}}</a>
  <a href="/search/?q={{keyword}}&start={{start2}}">{{page2}}</a>
  <a href="/search/?q={{keyword}}&start={{start3}}">{{page3}}</a>
  <a href="/search/?q={{keyword}}&start={{start4}}">{{page4}}</a>
  <a href="/search/?q={{keyword}}&start={{start5}}">{{page5}}</a>
  <a href="/search/?q={{keyword}}&start={{start6}}">{{page6}}</a>
  <a href="/search/?q={{keyword}}&start={{start7}}">{{page7}}</a>
  <a href="/search/?q={{keyword}}&start={{start8}}">{{page8}}</a>
  <a href="/search/?q={{keyword}}&start={{start9}}">{{page9}}</a>
  <a href="/search/?q={{keyword}}&start={{start10}}">{{page10}}</a>
</h2>
</div>
</body>
</html>
