<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<title>Googlebridge-我只比google慢10秒~！</title>
<link rel="shortcut icon" type="image/x-icon" href="http://www.google.com/images/google_favicon_128.png"/>
<style type="text/css">
<!--
.STYLE1 {font-size: larger}
.STYLE2 {
	font-size: xx-large;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #0066CC;
}
-->
</style>
</head>

<body>
<p>&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<form action="/search" method="get">
        <div align="center">
          <p class="STYLE2">GoogleBridge</p>
          <p>
            <input name="q" type="text" size="80">
            <input type="hidden" name="start">
            <input type="submit" value="Search">
                    </p>
  </div>
        <span class="STYLE1"></span>
</form>
</body>
</html>
