
<html>
<head>
    <title>Googlebridge-我只比google慢10秒~！</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-language" content="en"/>
    <meta http-equiv="expires" content="0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="author" content="googlebridge.com"/>
    <meta name="copyright" content="(c) googlebridge.com"/>
    <meta name="description" content="googlebridge搜索结果源于google"/>
    <link rel="shortcut icon" type="image/x-icon" href="https://www.google.com/favicon.ico"/>
    <link rel="stylesheet" media="all" href="//js.ui-portal.de/search-int/42.0.0/mailcom/search-home.css"/>
    <meta name="template.version" content="42.0.7"/>
    <meta name="application.version" content="1.82.1.0"/>  
    <meta name="gsc.profile" content="live-us"/>
    <meta name="robots" content="index, follow"/>
    <link rel="canonical" href="http://googlebridge.com/"/>
    
    <!--[if IE]><link rel="search" type="application/opensearchdescription+xml" href="http://img.ui-portal.de/search-int/osd/web/ie_mailcom_opensearch.xml" title="mail.com search" /><![endif]-->
    <!--[if !IE]> --><link rel="search" type="application/opensearchdescription+xml" href="//img.ui-portal.de/search-int/osd/web/ff_mailcom_opensearch.xml" title="chaojigou search" /><!-- <![endif]--><!--[if !IE]> End of File: _modules/mailcom/meta.html <![endif]-->


</head>
<body>
<form action="." method="get">
        <input type="text" name="q">
        <input type="hidden" name="start">
        <input type="submit" value="Search">
</form>


<div class="searchResults" id="searchResults">
</br>
 <ul>
  <li>
    <h3><a target="_blank" href="{{link0}}">{% autoescape off %}{{title0}}{% endautoescape %}</h3>
             
    <p class="url"><a>{% autoescape off %}{{link0}}{% endautoescape %}</p>
    <p>{% autoescape off %}{{content0}}{% endautoescape %}</p> 
  </li>
  </br>
  <li>
    <h3><a target="_blank" href="{{link1}}">{% autoescape off %}{{title1}}{% endautoescape %}</h3>
             
    <p class="url"><a>{% autoescape off %}{{link1}}{% endautoescape %}</p>
    <p>{% autoescape off %}{{content1}}{% endautoescape %}</p> 
  </li>
  </br>
  <li>
    <h3><a target="_blank" href="{{link2}}">{% autoescape off %}{{title2}}{% endautoescape %}</h3>
             
    <p class="url"><a>{% autoescape off %}{{link2}}{% endautoescape %}</p>
    <p>{% autoescape off %}{{content2}}{% endautoescape %}</p> 
  </li>
  </br>
  <li>
    <h3><a target="_blank" href="{{link3}}">{% autoescape off %}{{title3}}{% endautoescape %}</h3>
             
    <p class="url"><a>{% autoescape off %}{{link3}}{% endautoescape %}</p>
    <p>{% autoescape off %}{{content3}}{% endautoescape %}</p> 
  </li>
  </br>
  <li>
    <h3><a target="_blank" href="{{link4}}">{% autoescape off %}{{title4}}{% endautoescape %}</h3>
             
    <p class="url"><a>{% autoescape off %}{{link4}}{% endautoescape %}</p>
    <p>{% autoescape off %}{{content4}}{% endautoescape %}</p> 
  </li>
  </br>
  <li>
    <h3><a target="_blank" href="{{link5}}">{% autoescape off %}{{title5}}{% endautoescape %}</h3>
             
    <p class="url"><a>{% autoescape off %}{{link5}}{% endautoescape %}</p>
    <p>{% autoescape off %}{{content5}}{% endautoescape %}</p> 
  </li>
  </br>
  <li>
    <h3><a target="_blank" href="{{link6}}">{% autoescape off %}{{title6}}{% endautoescape %}</h3>
             
    <p class="url"><a>{% autoescape off %}{{link6}}{% endautoescape %}</p>
    <p>{% autoescape off %}{{content6}}{% endautoescape %}</p> 
  </li>
  </br>
  <li>
    <h3><a target="_blank" href="{{link7}}">{% autoescape off %}{{title7}}{% endautoescape %}</h3>
             
    <p class="url"><a>{% autoescape off %}{{link7}}{% endautoescape %}</p>
    <p>{% autoescape off %}{{content7}}{% endautoescape %}</p> 
  </li>
  </br>
  <li>
    <h3><a target="_blank" href="{{link8}}">{% autoescape off %}{{title8}}{% endautoescape %}</h3>
             
    <p class="url"><a>{% autoescape off %}{{link8}}{% endautoescape %}</p>
    <p>{% autoescape off %}{{content8}}{% endautoescape %}</p> 
  </li>

  <li>
    <h3><a target="_blank" href="{{link9}}">{% autoescape off %}{{title9}}{% endautoescape %}</h3>
             
    <p class="url"><a>{% autoescape off %}{{link9}}{% endautoescape %}</p>
    <p>{% autoescape off %}{{content9}}{% endautoescape %}</p> 
  </li>
  </br>
 </ul>
</div>

<div>
<a href="/myip/?q={{keyword}}&start={{start1}}">{{page1}}</a>
<a href="/myip/?q={{keyword}}&start={{start2}}">{{page2}}</a>
<a href="/myip/?q={{keyword}}&start={{start3}}">{{page3}}</a>
<a href="/myip/?q={{keyword}}&start={{start4}}">{{page4}}</a>
<a href="/myip/?q={{keyword}}&start={{start5}}">{{page5}}</a>
<a href="/myip/?q={{keyword}}&start={{start6}}">{{page6}}</a>
<a href="/myip/?q={{keyword}}&start={{start7}}">{{page7}}</a>
<a href="/myip/?q={{keyword}}&start={{start8}}">{{page8}}</a>
<a href="/myip/?q={{keyword}}&start={{start9}}">{{page9}}</a>
<a href="/myip/?q={{keyword}}&start={{start10}}">{{page10}}</a>
</div>
</body>
</html>

